@tailwind base;
@tailwind components;
@tailwind utilities;



  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo&family=Climate+Crisis&family=Honk&family=Playfair+Display&family=Poor+Story&family=Rajdhani:wght@500&family=Roboto+Condensed:ital@1&family=Single+Day&display=swap');


.font-secondary {
  font-family: 'Rajdhani', sans-serif;
}

.btn{
    background-image: linear-gradient(
        92.23deg,
        #ff56f6 21.43% ,
        #b936ee 53.63% ,
        #3bace2 100% ,
        #406aff 117.04% 
    );
    box-shadow: 0px 4.42184px 107.23px rgba(255,86,246,0.51);
}

.btn:hover{
    background-image: linear-gradient(
        92.23deg,
        #406aff 21.43% ,
        #3bace2 53.63% ,
        #b936ee 100% ,
        #ff56f6 117.04% 
    );
}

.gradient ,.active {
    background-image: linear-gradient(
        92.23deg,
        #406aff 21.43% ,
        #3bace2 53.63% ,
        #b936ee 100% ,
        #ff56f6 117.04% 
    );
}

.active {
    background-image: linear-gradient(
        92.23deg,
        #406aff 21.43%,
        #3bace2 53.63%,
        #b936ee 100%,
        #ff56f6 117.04%
    );
    color: white;
    padding: 1rem;
    border-radius: 100%;
}


@layer base {
    body{
        @apply  text-lg leading-8 text-white;
    }
    h2{
        @apply  text-[32px] mb-6 tracking-[10%] uppercase;
    }
    h3{
        @apply  font-semibold leading-[46px] text-[26px] mb-6 ;
    }
    .btn{
        @apply  font-medium rounded-full  text-white ;
    }
    .btn-sm{
        @apply h-[48px] px-6 text-sm;
    }
    .btn-lg{
        @apply h-[56px] px-10 text-base;
    }
    .btn-link{
        @apply  text-base;
    }
    .text-gradient{
        @apply bg-gradient-to-r text-transparent bg-clip-text from-[#ff56f6] to-[#2b45d9]
                font-bold  hover:from-[#2b45d9] hover:to-[#ff56f6];
    }
    .section{
        @apply py-8 lg:py-24 lg:h-screen flex items-center ;
    }



}
